# n8n Settings
DOMAIN_NAME=demo.com
SUBDOMAIN=n8n
GENERIC_TIMEZONE=America/New_York
N8N_HOST=n8n.demo.com
N8N_PROTOCOL=https
WEBHOOK_URL=https://n8n.demo.com/
N8N_SECURE_COOKIE=false
NODE_ENV=production

# Traefik (optional)
TRAEFIK_ROUTER_NAME=n8n
TRAEFIK_DOMAIN=n8n.demo.com
TRAEFIK_CERT_RESOLVER=mytlschallenge
    
# PostgreSQL
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=changeme123