# PostgreSQL
POSTGRES_USER=n8n
POSTGRES_PASSWORD=change-password
POSTGRES_DB=n8n

# n8n
N8N_HOST=tu-dominio-o-ip
N8N_PORT=5678
N8N_PROTOCOL=http
WEBHOOK_URL=http://tu-dominio-o-ip:5678/
GENERIC_TIMEZONE=America/Bogota

# Encriptación (genera uno con: openssl rand -hex 32)
N8N_ENCRYPTION_KEY=key-for-encryption-32-characters-long

# Usuario admin
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=change-password
