# PostgreSQL
POSTGRES_USER=n8n
POSTGRES_PASSWORD=angelica-demo-n8n
POSTGRES_DB=n8n

# n8n
N8N_HOST=tu-dominio-o-ip
N8N_PORT=5678
N8N_PROTOCOL=http
WEBHOOK_URL=http://tu-dominio-o-ip:5678/
GENERIC_TIMEZONE=America/Bogota
N8N_SECURE_COOKIE=false #optional, set to true if you want to use secure cookies (requires https)
N8N_PROXY_HOPS=1
# Encriptación (genera uno con: openssl rand -hex 32)
N8N_ENCRYPTION_KEY=651fe8f38db8d75c96db3b65c1c849ba4bda3a12c081438d3fe3b4d849aec06c

# Usuario admin
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=angelica-demo-n8n

# -------------------------------------
#otel - traces
N8N_OTEL_ENABLED=true
N8N_METRICS=true
N8N_OTEL_EXPORTER_SERVICE_NAME=n8n
N8N_OTEL_EXPORTER_OTLP_ENDPOINT=https://abc12345.live.dynatrace.com/api/v2/otlp
# API Token requires these permissions:
# "ingest traces"
N8N_OTEL_EXPORTER_OTLP_HEADERS=Authorization=Api-Token dt0c01.******.******
N8N_OTEL_TRACES_SAMPLE_RATE=1.0
N8N_OTEL_STARTUP_CONNECTIVITY_TIMEOUT_MS=5000
# metrics
N8N_METRICS=true
#N8N_METRICS_INCLUDE_CACHE_METRICS=true
N8N_METRICS_INCLUDE_MESSAGE_EVENT_BUS_METRICS=true
N8N_METRICS_INCLUDE_WORKFLOW_ID_LABEL=true
N8N_METRICS_INCLUDE_NODE_TYPE_LABEL=true
N8N_METRICS_INCLUDE_CREDENTIAL_TYPE_LABEL=true
N8N_METRICS_INCLUDE_API_ENDPOINTS=true
N8N_METRICS_INCLUDE_API_PATH_LABEL=true
N8N_METRICS_INCLUDE_API_METHOD_LABEL=true
N8N_METRICS_INCLUDE_API_STATUS_CODE_LABEL=true
#N8N_METRICS_INCLUDE_QUEUE_METRICS=true
#N8N_METRICS_QUEUE_METRICS_INTERVAL=true

# Scrape logs and metrics to Dynatrace
# Replace abc12345 below with your environment ID
# API Token requires these permissions:
# "ingest metrics" and "ingest logs"
DT_ENVIRONMENT_URL=https://abc12345.live.dynatrace.com
DT_API_TOKEN=dt0c01.******.******



